<h1> Clustering con scikit-learn </h1>

In [2]:
from sklearn.datasets import make_blobs
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
x, y = make_blobs(n_samples=100, centers=4, n_features=2, cluster_std=[1,1.5,2,2], random_state=7)

In [4]:
x

array([[ -3.38426057,   5.22173974],
       [ -1.83623836,  -7.73538367],
       [ -7.45617621,   6.19887436],
       [ -1.78504307,   1.60974874],
       [-10.1249098 ,   6.1338052 ],
       [  1.0146433 ,   4.0453507 ],
       [ -0.70092735,  -6.98196818],
       [  8.99757441,  -2.30228718],
       [ -7.9192539 ,   5.72225675],
       [  1.9445622 ,  -7.43742299],
       [ -0.93442649,  -7.78820426],
       [ 11.48819121,   1.33719026],
       [ -2.86067816, -11.24623446],
       [ -7.90577233,   4.84553865],
       [ -2.24228315,   4.38550238],
       [  0.56928691, -10.0571088 ],
       [  0.6237701 ,  -6.12033956],
       [  8.32594634,   0.04535295],
       [ -2.11937574, -10.1833945 ],
       [ -6.70767333,   5.26896209],
       [ -2.52855036,   5.03085908],
       [ -8.19937429,   4.07185131],
       [ -8.86097416,   7.62744807],
       [  0.25552915, -12.26658908],
       [  7.09274235,   1.13571881],
       [ -8.51922024,   4.14769715],
       [  9.58876813,  -2.81738008],
       [  9.01302463,  -0.87700276],
       [  2.43497366,  -6.59786336],
       [ -1.25017865,   4.35580836],
       [ -3.34438441,  -6.52894746],
       [ -0.15955326,  -6.65074692],
       [ -1.06884281,   6.62666284],
       [ -1.61175122,  -8.17436194],
       [  2.18722279, -10.1737727 ],
       [ -8.37240023,   5.85095358],
       [  9.60427972,  -0.08821978],
       [ -8.60621141,   5.2888995 ],
       [ -0.60856145,   3.08398657],
       [ -8.20442258,   5.07377123],
       [ -3.09016602,  -7.04152693],
       [ -1.38123132,   7.0186095 ],
       [ -0.73385405,   5.57184343],
       [ 12.99525034,  -0.14633618],
       [  2.15810511,   5.77286255],
       [  9.73610009,  -1.90312369],
       [ -8.87906207,   3.31006074],
       [ -7.63310097,   5.41838944],
       [ 11.67168684,   1.90168239],
       [ -9.67805406,   7.06035147],
       [  7.40382045,  -2.89493453],
       [  3.74252062, -11.55352462],
       [  5.65583404,   1.51657898],
       [ -2.71731016,  -7.09666856],
       [ -3.02220325,   2.89427834],
       [ -6.56181535,   5.83567769],
       [ -0.40869769,   5.48424704],
       [ -4.08286174,  -4.43138623],
       [ -0.50231258,   3.61509515],
       [ -0.64449683,   2.30462107],
       [ -1.68210598,   2.69933042],
       [ -1.85814896,  -8.82152863],
       [ -1.80695006,   3.13451827],
       [ 10.53704107,   1.49429741],
       [ -8.09071236,   7.8459709 ],
       [  8.98382251,   1.36953411],
       [ -8.4747246 ,   3.84365154],
       [  9.17207761,   2.16450563],
       [  8.26357965,   4.26507189],
       [ -1.52585634,   3.58314883],
       [ -9.09926319,   5.42682758],
       [ 10.83401591,   1.03116336],
       [ -6.82313452,   5.75271138],
       [ -8.71658329,   4.14513443],
       [  8.13768385,   1.76216825],
       [  8.49808274,  -1.47400737],
       [ 11.74366784,   4.1986779 ],
       [  8.51784557,   1.18936152],
       [ -1.37077276,  -7.39303673],
       [  1.06255408,   5.47343085],
       [  1.02316241,   4.15020411],
       [ -1.37397855,   6.25893244],
       [ -7.42443766,   5.18190153],
       [ -3.79908848,  -7.28615161],
       [  8.77901728,  -0.92192787],
       [ -0.49422339,  -6.28301921],
       [ 12.41323255,   1.08360538],
       [-10.18217342,   3.79527719],
       [-10.53824902,   4.93621651],
       [ -1.74499091,   3.76141358],
       [  1.90011281,  -8.26484561],
       [ -0.24975682,   5.81083201],
       [ -7.96853484,   5.33701943],
       [  0.97508467,  -6.33439636],
       [  9.40816251,   2.33252103],
       [  7.07275521,  -0.25993704],
       [ -2.6268734 ,  -7.22856996],
       [ -1.52109856,   1.80228428],
       [ -9.21638774,   6.67084598],
       [ -1.68138223,   6.41463135]])

In [5]:
y

array([1, 3, 0, 1, 0, 1, 3, 2, 0, 3, 3, 2, 3, 0, 1, 3, 3, 2, 3, 0, 1, 0,
       0, 3, 2, 0, 2, 2, 3, 1, 3, 3, 1, 3, 3, 0, 2, 0, 1, 0, 3, 1, 1, 2,
       1, 2, 0, 0, 2, 0, 2, 3, 2, 3, 1, 0, 1, 3, 1, 1, 1, 3, 1, 2, 0, 2,
       0, 2, 2, 1, 0, 2, 0, 0, 2, 2, 2, 2, 3, 1, 1, 1, 0, 3, 2, 3, 2, 0,
       0, 1, 3, 1, 0, 3, 2, 2, 3, 1, 0, 1])

In [6]:
df_blobs = pd.DataFrame(
        {'x1':x[:,0],
        'x2':x[:,1],
        'y':y
})

In [7]:
df_blobs

           x1        x2  y
0   -3.384261  5.221740  1
1   -1.836238 -7.735384  3
2   -7.456176  6.198874  0
3   -1.785043  1.609749  1
4  -10.124910  6.133805  0
..        ...       ... ..
95   7.072755 -0.259937  2
96  -2.626873 -7.228570  3
97  -1.521099  1.802284  1
98  -9.216388  6.670846  0
99  -1.681382  6.414631  1

[100 rows x 3 columns]

In [8]:
def plot_clusters(x, y, ax):
    y_uniques = pd.Series(y).unique()
    
    for _ in y_uniques:
        x[y==_].plot(
            title = f'{len(y_uniques)} Clusters',
            kind = 'scatter',
            x = 'x1',
            y = 'x2',
            marker = f'${_}',
            ax = ax
        )

<h4> Aplicando Cluster </h4>